<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link"
          >Pets Alone</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/pets" routerLinkActive="active" class="nav-link"
          >Missing Pets</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/pets/create" routerLinkActive="active" class="nav-link"
          >Create New Missing Pet</a
        >
      </li>
    </ul>
  </div>
</nav>
