<div class="row">
  <div class="container mt-3">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadPets()">
      <div class="d-flex mx-2">
        <input
          type="text"
          class="form-control ms-1"
          style="width: 230px"
          name="petName"
          [(ngModel)]="petName"
          placeholder="Search by Pet Name..."
        />
      </div>
      <div class="d-flex mx-2">
        <select
          name="petType"
          style="width: 230px"
          class="form-select ms-1"
          [(ngModel)]="petType"
        >
          <option value="0">Select Pet Type</option>
          @for (pettype of petTypes; track pettype.id) {
          <option [value]="pettype.id">
            {{ pettype.name }}
          </option>
          }
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Apply Filters</button>
      <button (click)="resetFilters()" class="btn btn-info ms-1" type="button">
        Reset filters
      </button>
    </form>
  </div>

  <table
    class="table table-striped table-bordered mt-3"
    style="cursor: pointer"
  >
    <thead>
      <tr>
        <th>Pet Name</th>
        <th>Pet Type</th>
        <th>MicroChip</th>
        <th>Owner Name</th>
        <th>Missing Since</th>
        <th>Reported</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="align-middle">
      @for (pet of petService.paginatedResult()?.items; track pet.id){
      <tr>
        <td>{{ pet.name }}</td>
        <td>{{ pet.petTypeName }}</td>
        <td>{{ pet.microChipId }}</td>
        <td>{{ pet.ownerName }}</td>
        <td>{{ pet.missingSince | date : "longDate" }}</td>
        <td>{{ pet.createdDate | date : "medium" }}</td>
        <td>
          <button class="btn btn-primary" routerLink="/pets/{{ pet.id }}">
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  @if (petService.paginatedResult()?.pagination) {
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="(petService.paginatedResult()?.pagination)!.totalItems"
      [itemsPerPage]="(petService.paginatedResult()?.pagination)!.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="(petService.paginatedResult()?.pagination)!.currentPage"
      [maxSize]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
  }
</div>
